# Database settings
VS_DB_CONNECTION_STRING=mongodb://localhost:27017
VS_DB_DATABASE_NAME=video_server
VS_DB_QUOTE_COLLECTION_NAME=quotes
VS_DB_EPISODE_COLLECTION_NAME=episodes

# Cache settings
VS_CACHE_FOLDER=.cache
VS_CACHE_SIZE=1000

# Video settings
VS_VIDEO_FOLDER=./videos
VS_VIDEO_FORMAT=.mp4
